body {
    position: relative;
    background-color: #f9f9f9;
    color: #393939;
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 2.2em;
    line-height: 1.5;
}

h1, h2, h3 {
    margin-top: 0;
}

h2 {
    border-bottom: 3px solid #a31e23;
}

blockquote {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
}

blockquote:before,
blockquote:after {
    position: absolute;
    font-size: 64px;
    content: '"';
}

blockquote:before {
    top: -30px;
    left: 0;
}

blockquote:after {
    bottom: -66px;
    right: 0;
}

ul,
ol {
    margin-left: 20px;
}

pre {
    border: solid 1px #ccc;
    padding: 0 10px;
    background-color: #fff;
    font-size: 0.8em;
}

#slides {
    box-sizing: border-box;
    padding: 20px;
}

.section-title {
    position: absolute;
    top: 50%;
    border-left: 20px solid #a31e23;
    margin-top: -1em;
    padding-left: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
